In [67]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pylab as plt
import seaborn as sns
import numpy as np

In [68]:
file_path = './data/영아사망원인_67항목__성_생존기간별_사망자수__영아사망률_2005__20200701234204.csv'
kosis_df = pd.read_csv(file_path,encoding = 'cp949')
kosis_df

,영아사망원인별(67항목),성별,생존기간별,2005,2005.1,2006,2006.1,2007,2007.1,2008,...,2014,2014.1,2015,2015.1,2016,2016.1,2017,2017.1,2018,2018.1
0,영아사망원인별(67항목),성별,생존기간별,사망자수 (명),영아사망률 (출생아 천명당),사망자수 (명),영아사망률 (출생아 천명당),사망자수 (명),영아사망률 (출생아 천명당),사망자수 (명),...,사망자수 (명),영아사망률 (출생아 천명당),사망자수 (명),영아사망률 (출생아 천명당),사망자수 (명),영아사망률 (출생아 천명당),사망자수 (명),영아사망률 (출생아 천명당),사망자수 (명),영아사망률 (출생아 천명당)
1,계,계,계,1833,4.2,1710,3.8,1707,3.4,1580,...,1305,3.0,1190,2.7,1154,2.8,1000,2.8,931,2.8
2,계,계,0 - 6일,695,1.6,615,1.4,633,1.3,611,...,468,1.1,455,1.0,423,1.0,347,1.0,345,1.1
3,계,계,7 - 27일,334,0.8,363,0.8,335,0.7,247,...,275,0.6,222,0.5,237,0.6,199,0.6,188,0.6
4,계,계,28일이상 (명),804,1.8,732,1.6,739,1.5,722,...,562,1.3,513,1.2,494,1.2,454,1.3,398,1.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,질병이환 및 사망의 외인,남자,28일이상 (명),45,0.2,46,0.2,49,0.2,44,...,25,0.1,24,0.1,30,0.1,30,0.2,26,0.2
189,질병이환 및 사망의 외인,여자,계,49,0.2,36,0.2,37,0.2,42,...,26,0.1,30,0.1,29,0.1,24,0.1,16,0.1
190,질병이환 및 사망의 외인,여자,0 - 6일,1,0.0,3,0.0,4,0.0,4,...,1,0.0,10,0.0,3,0.0,2,0.0,0,-
191,질병이환 및 사망의 외인,여자,7 - 27일,6,0.0,2,0.0,1,0.0,1,...,1,0.0,1,0.0,1,0.0,2,0.0,0,-
192,질병이환 및 사망의 외인,여자,28일이상 (명),42,0.2,31,0.1,32,0.1,37,...,24,0.1,19,0.1,25,0.1,20,0.1,16,0.1

연도별을 row로 melt 메소드를 통해 녹여줌

In [69]:
df = kosis_df.melt(id_vars=['영아사망원인별(67항목)','성별','생존기간별'])

In [70]:
df

      영아사망원인별(67항목)  성별      생존기간별 variable     value
0     영아사망원인별(67항목)  성별      생존기간별     2005  사망자수 (명)
1                 계   계          계     2005      1833
2                 계   계     0 - 6일     2005       695
3                 계   계    7 - 27일     2005       334
4                 계   계  28일이상 (명)     2005       804
...             ...  ..        ...      ...       ...
5399  질병이환 및 사망의 외인  남자  28일이상 (명)   2018.1       0.2
5400  질병이환 및 사망의 외인  여자          계   2018.1       0.1
5401  질병이환 및 사망의 외인  여자     0 - 6일   2018.1         -
5402  질병이환 및 사망의 외인  여자    7 - 27일   2018.1         -
5403  질병이환 및 사망의 외인  여자  28일이상 (명)   2018.1       0.1

[5404 rows x 5 columns]

In [71]:
연도와 생존률을 분리한다

SyntaxError: invalid syntax (<ipython-input-71-a6d5c349d3ed>, line 1)

In [72]:
df[['variable','value']]

     variable     value
0        2005  사망자수 (명)
1        2005      1833
2        2005       695
3        2005       334
4        2005       804
...       ...       ...
5399   2018.1       0.2
5400   2018.1       0.1
5401   2018.1         -
5402   2018.1         -
5403   2018.1       0.1

[5404 rows x 2 columns]

In [73]:
df_2005 = df.loc[df['variable']=='2005.1' ]
#193행부터 생존기간 별 인것을 알 수 있음

In [74]:
df_2005 = df_2005.reset_index()
df_2005

     index  영아사망원인별(67항목)  성별      생존기간별 variable            value
0      193  영아사망원인별(67항목)  성별      생존기간별   2005.1  영아사망률 (출생아 천명당)
1      194              계   계          계   2005.1              4.2
2      195              계   계     0 - 6일   2005.1              1.6
3      196              계   계    7 - 27일   2005.1              0.8
4      197              계   계  28일이상 (명)   2005.1              1.8
..     ...            ...  ..        ...      ...              ...
188    381  질병이환 및 사망의 외인  남자  28일이상 (명)   2005.1              0.2
189    382  질병이환 및 사망의 외인  여자          계   2005.1              0.2
190    383  질병이환 및 사망의 외인  여자     0 - 6일   2005.1              0.0
191    384  질병이환 및 사망의 외인  여자    7 - 27일   2005.1              0.0
192    385  질병이환 및 사망의 외인  여자  28일이상 (명)   2005.1              0.2

[193 rows x 6 columns]

In [76]:
df['영아 사망률'] = df_2005['value']

In [91]:
df['variable'].str.split(".",expand=True)

         0     1
0     2005  None
1     2005  None
2     2005  None
3     2005  None
4     2005  None
...    ...   ...
5399  2018     1
5400  2018     1
5401  2018     1
5402  2018     1
5403  2018     1

[5404 rows x 2 columns]

In [120]:
subset = df[df['variable'].str.split(".",expand=True)[1] == '1']
subset = subset.reset_index()
subset

,index,영아사망원인별(67항목),성별,생존기간별,variable,value,영아 사망률,영아사망률
0,193,영아사망원인별(67항목),성별,생존기간별,2005.1,영아사망률 (출생아 천명당),NaN,영아사망률 (출생아 천명당)
1,194,계,계,계,2005.1,4.2,NaN,4.2
2,195,계,계,0 - 6일,2005.1,1.6,NaN,1.6
3,196,계,계,7 - 27일,2005.1,0.8,NaN,0.8
4,197,계,계,28일이상 (명),2005.1,1.8,NaN,1.8
...,...,...,...,...,...,...,...,...
2697,5399,질병이환 및 사망의 외인,남자,28일이상 (명),2018.1,0.2,NaN,0.2
2698,5400,질병이환 및 사망의 외인,여자,계,2018.1,0.1,NaN,0.1
2699,5401,질병이환 및 사망의 외인,여자,0 - 6일,2018.1,-,NaN,-
2700,5402,질병이환 및 사망의 외인,여자,7 - 27일,2018.1,-,NaN,-
2701,5403,질병이환 및 사망의 외인,여자,28일이상 (명),2018.1,0.1,NaN,0.1

In [121]:
df['영아사망률'] = subset['value']

In [124]:
df.head(200)

,영아사망원인별(67항목),성별,생존기간별,variable,value,영아 사망률,영아사망률
0,영아사망원인별(67항목),성별,생존기간별,2005,사망자수 (명),영아사망률 (출생아 천명당),영아사망률 (출생아 천명당)
1,계,계,계,2005,1833,4.2,4.2
2,계,계,0 - 6일,2005,695,1.6,1.6
3,계,계,7 - 27일,2005,334,0.8,0.8
4,계,계,28일이상 (명),2005,804,1.8,1.8
...,...,...,...,...,...,...,...
195,계,계,0 - 6일,2005.1,1.6,NaN,1.4
196,계,계,7 - 27일,2005.1,0.8,NaN,0.8
197,계,계,28일이상 (명),2005.1,1.8,NaN,1.6
198,계,남자,계,2005.1,4.3,NaN,4.1
199,계,남자,0 - 6일,2005.1,1.7,NaN,1.6